html {
  @apply font-medium tracking-wide;

  &::selection {
    @apply bg-primary/80 text-white;
  }
}

/* overlayscrollbars 滚动条自定义样式 */
.os-theme-custom {
  cursor: pointer;
  box-sizing: border-box;
  --os-size: 10px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 10px;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 10px;
  --os-handle-bg: rgba(0, 0, 0, 0.2);
  --os-handle-bg-hover: rgba(148, 109, 239, 0.6);
  --os-handle-bg-active: rgba(148, 109, 239, 0.8);
}

[data-theme='dark'] .os-theme-custom {
  cursor: pointer;
  box-sizing: border-box;
  --os-size: 10px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 10px;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 10px;
  --os-handle-bg: rgba(255, 255, 255, 0.2);
  --os-handle-bg-hover: rgba(148, 109, 239, 0.7);
  --os-handle-bg-active: rgba(148, 109, 239, 0.9);
}